<html>

<head>
        <title>Sign Up Page</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
        <h1>Sign Up</h1>
        <div class="field">
                <label for="name">Username:</label>
                <input type="text" id="username" name="name" placeholder="Enter your username" />
                <small></small>
        </div>
        <div class="field">
                <label for="email">Password:</label>
                <input type="text" id="password" name="password" placeholder="Enter your password" />
                <small></small>
        </div>
        <button id="signup">Sign Up</button>
        <button id="login">Login</button>
        <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>

</html>